body {
  margin: 0;
}
* {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  list-style: none;
}
.container {
  display: grid;  
  height: 100vh;
}

.front-page {
  grid-template-columns: 50% 50%;
}
.feed-page {
  grid-template-columns: 20% 60% 20%;
  background: #151D26;
}
.half-screen {
  height: 100%;
  background: #ED8121;
  color: #FFFFFF;
}
.other-half-screen {
  height: 100%;
  background: #151D26;
  color: #ED8121;
}
.no-pad {
  padding: 0px;
}
.text-center {
  text-align: center;
}
.center {
  margin: auto;
  width: 55%;
}
.top-20 {
  margin-top: 20px;
}
.light-input {
  border: 3px solid #ED8121;
  background:  #151D26;
  box-sizing: border-box;
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
}
.btn {
  background: #151D26;
  color: white;
  border: 3px solid #ED8121;
  box-sizing: border-box;
  border-radius: 40px;
}
::placeholder {
  color: white;
  font-weight: bold;
}