body {
  margin: 0;
}
* {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  list-style: none;
}
.container {
  display: grid;  
  height: 100vh;
}


/* Specific to login page */
.front-page {
  grid-template-columns: 50% 50%;
}

.half-screen {
  height: 100%;
  background: #ED8121;
  color: #FFFFFF;
}
.other-half-screen {
  height: 100%;
  background: #151D26;
  color: #ED8121;
}

/* Specific to feed page */
.feed-page {
  grid-template-columns: 20% 60% 20%;
  background: #151D26;
}
.feed-middle {
  border-left: #ED8121 1px solid;
  border-right: #ED8121 1px solid; 
}

/* Borders */
.bottom-border {
  border-bottom: #ED8121 1px solid;
}
/* Text decoration */
.orange {
  color: #ED8121;
}
/* Centering tools */
.text-center {
  text-align: center;
}
.center {
  margin: auto;
  width: 55%;
}

/* Padding and margins */
.no-pad {
  padding: 0px;
}

.top-20 {
  margin-top: 20px;
}

/* Buttons */
.light-input {
  border: 3px solid #ED8121;
  background:  #151D26;
  box-sizing: border-box;
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
}
.btn {
  background: #151D26;
  color: white;
  border: 3px solid #ED8121;
  box-sizing: border-box;
  border-radius: 40px;
}
::placeholder {
  color: white;
  font-weight: bold;
}